@import "../../../../../public/style/var.module.scss";
.container {
  width: 300px;
}
textarea {
  resize: none;
  @include inputBsc;
  font-size: 28px;
  width: 100%;
  border: none;
  min-height: 200px;
  font-family: $cookie;
}
textarea:focus,
textarea:hover {
  @include outlineBsc;
}
